body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.navbar-form .form-group {
	margin: 5px 5px 5px 0;
}

.tools-project .img-responsive{
	background-color: #333;
}



.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    border-radius: 50%;
    display: inline-block;
}
